* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body style */

html {

    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    height: 100% !important;
}

/* header style */
header {
    width: 100%;
    height: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: rgb(51, 33, 10);
    padding: 20px;
    text-align: center;
    line-height: 200px;
}

/* table style */
form {
    color: rgb(59, 35, 7);
    height: auto;
    padding: 0;
    margin: auto;
    text-align: center;
}



.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* height: 100%; */
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, rgb(253, 168, 178), rgb(179, 252, 161));
}

.mid {
    height: calc(100% - 230px);

}
.entry{width: 328px;}
.username, .passwd1, .passwd2, .email, .address, .mobile, .birthday {padding: 10px;
margin: auto;}

#span1, #span2, #span3, #span4, #span5, #span6, #span7 {
    font-size: 15px;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.entry label{
    line-height: 150%;
    display: block;
    margin-top: 20px;
}

.entry input{
    width: 100%;
    padding: 0 15px;
    height: 30px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    font-size: 14px;
    font-family: "Lato Regular";
    box-sizing: border-box;
}

/* th {
    text-align: right;
}

tr {
    padding: 20px;
}


td {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    width: 33%;
} */

input {
    background-color: rgb(186, 235, 250);
    color: rgb(55, 65, 71)
}

#birthday {
    width: 200px;
}


/* footer style */
footer {
    height: 30px;
    padding: 5px;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(159, 203, 206), rgb(91, 128, 88));
}

/* button style */
#btn1 {
    margin: 0;
    padding: 5px;
    width: 400px;
    background-image: linear-gradient(to bottom right, rgb(209, 225, 253), rgb(181, 252, 175))
}

#btn2 {
    margin: 0;
    padding: 5px;
    width: 400px;
    background-image: linear-gradient(to bottom right, rgb(250, 194, 213), rgb(228, 244, 250))
}